version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: "/api"
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: "/updates"
    schedule:
      interval: weekly

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci(deps): "
