name: Prod Build - API

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      WIP_PROJECT_ID:
        required: true
  repository_dispatch:
    types: [bcd_release]

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  deploy-prod-api:
    name: Deploy to prod
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org/"

      - run: npm ci

      - name: Update BCD package
        run: |-
          npm update @mdn/browser-compat-data
          npm list @mdn/browser-compat-data

      - run: npm run generate

      - name: Authenticate with GCP
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          service_account: deploy-prod-bcd@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Upload to GCS
        uses: google-github-actions/upload-cloud-storage@6397bd7208e18d13ba2619ee21b9873edc94427a # v3.0.0
        with:
          path: api/out/v0/current
          destination: bcd-prod-mdn/bcd/api/v0/current
          resumable: false
          headers: |-
            cache-control: public, max-age=86400
          parent: false
          concurrency: 500
          process_gcloudignore: false
