name: Stage Build - API

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      WIP_PROJECT_ID:
        required: true
  repository_dispatch:
    types: [bcd_release]

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  deploy-stage-api:
    name: Deploy to stage
    runs-on: ubuntu-latest
    environment: stage
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org/"

      - run: npm ci

      - name: Update BCD package
        run: |-
          npm update @mdn/browser-compat-data
          npm list @mdn/browser-compat-data

      - run: npm run generate

      - name: Authenticate with GCP
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          service_account: deploy-stage-bcd@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - name: Sync Rumba API
        run: |-
          gsutil -m -h "Cache-Control:public, max-age=86400" rsync -d -r out/v0/current gs://bcd-stage-mdn/bcd/api/v0/current
