name: Stage Build - Updates

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      WIP_PROJECT_ID:
        required: true
  repository_dispatch:
    types: [bcd_release]

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  deploy-stage-updates:
    name: Deploy to stage
    environment: stage
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: updates

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org/"

      - run: npm ci

      - run: npm run updates rumba

      - name: Authenticate with GCP
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          service_account: deploy-stage-updates@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - name: Sync Rumba update
        run: |-
          gsutil -m -h "Cache-Control:public, max-age=86400" rsync -d -r rumba-updates/ gs://updates-stage-mdn/rumba-bcd-updates

  trigger-stage-rumba-update-if-new:
    name: Trigger rumba updates if new release.
    needs: deploy-stage-updates
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - env:
          RUMBA_AUTH: ${{ secrets.RUMBA_STAGE_API_KEY }}
          RUMBA_HOST: https://developer.allizom.org
          UPDATES_HOST: https://updates.developer.allizom.org
        run: . scripts/sync_rumba_updates.sh
