name: Prod Build - API

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""
  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      WIP_PROJECT_ID:
        required: true
  repository_dispatch:
    types: [bcd_release]

jobs:
  deploy-prod-api:
    name: Deploy to prod
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org/"
          cache: npm

      - run: npm ci

      - run: npm update @mdn/browser-compat-data

      - run: npm run generate

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          service_account: deploy-prod-bcd@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v1

      - name: Sync Rumba API
        run: |-
          gsutil -m -h "Cache-Control:public, max-age=86400" rsync -r out/ gs://bcd-prod-mdn/bcd/api/
          gsutil -m -h "Cache-Control:public, max-age=86400" rsync -d -r out/v0/current gs://bcd-prod-mdn/bcd/api/v0/current
