name: Publish bcd-utils-api package to npm

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""

permissions:
  id-token: write # OIDC for npm Trusted Publishing

jobs:
  publish-package-api:
    name: Publish package
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org/"

      # Ensure npm 11.5.1 or later for trusted publishing
      - run: npm install -g npm@latest

      - run: npm ci

      - run: npm update @mdn/browser-compat-data

      - run: npm test

      - run: npm run build

      - run: npm publish --access public --provenance
