name: Publish bcd-utils-api package to npm

on:
  workflow_dispatch:
    inputs:
      notes:
        description: "Notes"
        required: false
        default: ""

permissions:
  id-token: write # OIDC for npm Trusted Publishing

jobs:
  publish-package-api:
    name: Publish package
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org/"

      # Ensure npm 11.5.1 or later for trusted publishing
      - run: npm install -g npm@latest

      - run: npm ci

      - run: npm update @mdn/browser-compat-data

      - run: npm test

      - run: npm run build

      - run: npm publish --access public --provenance
