name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {} # No GITHUB_TOKEN permissions, as we don't use it.

jobs:
  root:
    if: github.repository == 'mdn/bcd-utils'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: npm

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

  api:
    if: github.repository == 'mdn/bcd-utils'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: npm
          cache-dependency-path: api/package-lock.json

      - name: Install
        working-directory: api/
        run: npm ci

      - name: Build
        working-directory: api/
        run: npm run build

      - name: Test
        working-directory: api/
        run: npm run test

  updates:
    if: github.repository == 'mdn/bcd-utils'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: npm
          cache-dependency-path: updates/package-lock.json

      - name: Install
        working-directory: updates/
        run: npm ci
